{% extends 'layout.html' %}

{% block title %}
    School Portal - Learn More
{% endblock %}


{% block main %}
    <div class="learnmore">
        <h2>What is School Portal?</h2>
        <hr>
        <p>School Portal is an user friendly website to create public web pages. <br></p>
        <p>It uses markdown to create user friendly and good-looking pages and help you along the way. <br></p>
        <p>You can put images, links and other interactable elements.</p>
        <p>Register <abbr title="I MEAN NOW">now</abbr> and create your web page for your school.</p>
        <a href="/register">Register</a>
    </div>
{% endblock %}